<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>577613767904-m3h45ua9tt2r71vms2f6jfj8s1iibk9r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.577613767904-m3h45ua9tt2r71vms2f6jfj8s1iibk9r</string>
	<key>API_KEY</key>
	<string>AIzaSyC66jjEm6kJyqUOP7YukN3CmvfijS6yCS8</string>
	<key>GCM_SENDER_ID</key>
	<string>577613767904</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kaynintelligence.liness</string>
	<key>PROJECT_ID</key>
	<string>lines-new</string>
	<key>STORAGE_BUCKET</key>
	<string>lines-new.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:577613767904:ios:b61d1c9d4d8477eb34dc85</string>
</dict>
</plist>